/*body */
body,
html {
  height: 100%;
  
}

/* get started */
/* .lead{
  font-family: 'Rubik', sans-serif;
  margin-top: 30px;
  font-size: large;
}


.element{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  z-index: 10;
  line-height: 52px;
  font-size: 80px;
  margin-top: 30px;
  color: #447dee;
} */

/*navbar*/
.custom-nav::before {
    background: transparent;
}
  .view,

.navbar {
  background-color: rgba(10, 148, 240, 0.247);
  margin-bottom: 0px;

  
}
.page-footer,
.top-nav-collapse {
  background-color: #447dee;
}
@media only screen and (max-width: 768px) {
    .navbar {
      background-color: #1749ad;
    }
  }
/* about us  */
/* blockchain wali pic */
.container_pic {
	position: absolute;
	display:block;
	/* top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); */
	width: 100px;
	height: 100px;
}
.laptop {
	position: absolute;
	top: 137px;
	left: 119px;
	width: 340px;
	height: 190px;
}
.laptop-bottom path {
	fill: #959C9E;
}
.laptop-bottom rect {
	fill: #EBEFF0;
}
.laptop-lid {
	fill: #F5F7F8;
}
.screen-bg {
	fill: #fff;
	opacity: 0;
}
.grid {
	opacity: 0;
	stroke: #EBEFF0;
	stroke-width: 2;
}
.chart {
	fill: none;
	stroke: #95C11F;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.chart:nth-child(1) {
	stroke-dasharray: 403;
	stroke-dashoffset: 403;
}
.chart:nth-child(2) {
	stroke-dasharray: 395;
	stroke-dashoffset: 395;
}
.chart:nth-child(3) {
	stroke-dasharray: 332;
	stroke-dashoffset: 332;
}
.chart:nth-child(4) {
	stroke-dasharray: 425;
	stroke-dashoffset: 425;
}
.logo {
	opacity: 0;
}
.logo path:nth-child(1) {
	fill: #95C11F;
}
.logo path:nth-child(2) {
	fill: #fff;
}
.logo text {
	fill: #fff;
	font-size: 7px;
}

.text-block {
	opacity: 0;
	position: absolute;
	font-weight: 600;
}
.text-block.big {
	font-size: 16px;
	padding: 6px 16px;
}
.text-block svg {
	width: 32px;
	float: left;
}
.text-block div {
	float: left;
	line-height: 32px;
	padding-left: 5px;
}
.ai {
	fill: #C64C4C;
	color: #953939;
	top: 49px;
	left: 74px;
	border-radius: 4px;
	background-color: #FCBFBF;
	box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}
.cryptocurrency {
	fill: #CC7825;
	color: #995A1C;
	top: 100px;
	left: 342px;
	border-radius: 4px;
	background-color: #FFD5AB;
	box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}
.autonomous-driving {
	fill: #69B397;
	color: #4F8671;
	top: 360px;
	left: 316px;
	border-radius: 4px;
	background-color: #CDF3E5;
	box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}
.commodities {
	fill: #6D9EBC;
	color: #52778D;
	top: 222px;
	left: 10px;
	border-radius: 4px;
	background-color: #CFE8F7;
	box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}
.white-block {
	color: #636D70;
	border: 1px solid #F5F7F8;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 9px 37px -12px rgba(0, 0, 0, 0.3);
}
.white-block.medium {
	font-size: 14px;
	line-height: 19px;
	padding: 10px 19px;
}
.white-block.small {
	font-size: 12px;
	line-height: 17px;
	padding: 8px 16px;
}
.day-trading {
	top: 0;
	left: 273px;
}
.robotics {
	top: 38px;
	left: 456px;
}
.emerging-markets {
	top: 199px;
	left: 415px;
}
.e-mobility {
	top: 262px;
	left: 441px;
}
.small-caps {
	top: 360px;
	left: 127px;
}
.solar {
	top: 310px;
	left: 27px;
}
.german-stocks {
	top: 131px;
	left: 30px;
}

/* new navbar */
/* @import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
} */
/*----------bootstrap-navbar-css------------*/
/* .navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}
 */



/* lets get started */
  #content{
    text-align: centre;
    padding-top: 20%;
  }
  .hero-area {
    height: 100vh;
    display:grid;
    justify-content: center;
    align-items: center; }
    .hero-area h1 {
      font-size: 60px;
      font-weight: bold;
      padding-bottom: 10px;
      margin-top: 10px;
      line-height: 1.2; }
    .hero-area p {
      font-size: 20px;
      line-height: 1.3; }
    .hero-area .btn-main {
      margin-top: 30px; }


/* motto */
  .motto {
    margin: 100px auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    align-items: center;
    position: relative;
    top: 50px;
    margin-bottom: 0%;
  }

/* LETS GET STARTED BUTTON */
.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

 


/* bot-form */
.custom_bot{
    margin: auto;
    text-align: center;
    width: 50%;
    opacity: 1;
  }
  .message_custom{
    margin: auto;
    text-align: center;
    width: 50%;
    color: #434274;
    opacity: 0;
  }
  .custom_bot_head{
    width: 60%;
    text-align: center;
    margin: 50px auto;
    color:#000000;
    font-family: 'Kanit', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-shadow: tomato;
  }

  /* footer */
  
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  
  /* /////////////////////////// */
  /* animation */
  /* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
} */
/* 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}  
section {
    animation-duration: 3s;
    animation-name: slidein;
  } */
  
  /* @keyframes slidein {
    from {
      margin-left: 30%;
      width: 300%;
    }
  75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    } 
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */
  
/* fonts change */


/* front-page animation */
/** * Base Variables */
/** * Mixins */
/** * Base Settings/Overwrite Normalize */
*, *:before, *:after {
  box-sizing: border-box;
}

/** * Text Selection */
::selection {
  color: #fff;
  background-color: #d0f2ee;
  text-shadow: none;
}
/** * Body */

/** * Components */
.post {
  min-height: 100vh;
  width: 100%;
  border: 0.5em solid #fff;
}
@media (min-width: 54em) {
  .post {
    display: flex;
    height: 100vh;
    min-height: 40em;
 }
}
.post > *:first-child {
  position: relative;
  height: 14em;
  background-color: #000;
}
@media (min-width: 30em) {
  .post > *:first-child {
    height: 18em;
 }
}
@media (min-width: 54em) {
  .post > *:first-child {
    flex-basis: 50%;
    max-width: 50%;
    height: auto;
 }
}
@media (min-width: 76.5em) {
  .post > *:first-child {
    flex-basis: 60%;
    max-width: 60%;
 }
}
@media (min-width: 54em) {
  .post > *:last-child {
    flex-basis: 50%;
    max-width: 50%;
 }
}
@media (min-width: 76.5em) {
  .post > *:last-child {
    flex-basis: 40%;
    max-width: 40%;
 }
}
.post__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  overflow-y: auto;
}
.post__category {
  position: relative;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  overflow: hidden;
}
.post__category:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 3em;
  background-color: #000;
  animation: slide-in 1s ease-in both 0.5s;
}
.post__content {
  padding: 2em 0;
}
@media (min-width: 54em) {
  .post__content {
    padding: 0 4em;
 }
}
.post__time {
  display: inline-block;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.post__header {
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}
.post__header span {
  display: inline-block;
  animation: slide-up 0.8s ease-in-out both;
}
.post__header span:nth-child(1) {
  animation-delay: 0.1s;
}
.post__header span:nth-child(2) {
  animation-delay: 0.2s;
}
.post__header span:nth-child(3) {
  animation-delay: 0.3s;
}
.post__text {
  font-weight: 300;
  animation: fade-in 0.8s ease-in-out both 0.5s;
}

/** * Helpers */
.absolute-bg {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation: fade-in 0.8s ease-in-out both 1s;
}
/** * Animations */
@keyframes slide-in {
  0% {
    transform: translate3d(-100%, 0, 0);
 }
  100% {
    transform: translate3d(0, 0, 0);
 }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
 }
  90% {
    opacity: 1;
 }
  100% {
    transform: translate3d(0, 0, 0);
 }
}
@keyframes fade-in {
  0% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}


/* colorful picture */
/* :root {
  --stop-size: calc(100%/14);
}
body {
  margin: 0;
}
.inelegant-sky {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(74, 114, 163, 1) 0, rgba(81, 118, 172, 1) var(--stop-size), rgba(87, 128, 186, 1) calc(var(--stop-size) * 2), rgba(98, 137, 198, 1) calc(var(--stop-size) * 3), rgba(104, 143, 202, 1) calc(var(--stop-size) * 4), rgba(112, 150, 207, 1) calc(var(--stop-size) * 5), rgba(121, 160, 212, 1) calc(var(--stop-size) * 6), rgba(132, 171, 219, 1) calc(var(--stop-size) * 7), rgba(145, 181, 225, 1) calc(var(--stop-size) * 8), rgba(158, 192, 231, 1) calc(var(--stop-size) * 9), rgba(181, 208, 234, 1) calc(var(--stop-size) * 10), rgba(212, 221, 228, 1) calc(var(--stop-size) * 11), rgba(242, 230, 217, 1) calc(var(--stop-size) * 12), rgba(252, 207, 161, 1) calc(var(--stop-size) * 13), rgba(244, 156, 113, 1) 100%);
} */

/* gradiend pic */
/* #parallex1 {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("http://media.istockphoto.com/photos/abstract-cubes-retro-styled-colorful-background-picture-id508795172?k=6&m=508795172&s=170667a&w=0&h=uxKISA4xMNkrBCcEFhdN5mm-ZDv8LFzWUhMMmG3CNuQ=");
  height: 50%;
} */

