/* ENTIRE DOCUMENT */
/* Styling for the whole page */
body {
    /* Layout declarations */
    margin: 0 auto;
    /* Typography declarations */
    font-size: 62.5%;
    font-family: "Muli", "Helvetica Neue", "Arial", "sans-serif";
    font-weight: 300;
    color: #EDEDED;
    -webkit-font-smoothing: antialiased;
  }
  
  /* HEADER */
  .masthead {
    /* Layout declarations */
    background: url("https://images.unsplash.com/photo-1446797376004-9352dfc9f789?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375") no-repeat fixed center;
    background-size: cover;
    padding: 1em 2em;
    border-top: 8px solid #EDEDED;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    /* Typography declarations */
    font-size: 4em;
  }
  
  .masthead-intro {
    margin: 2em 0 0 0;
  }
  
  .masthead-heading {
    /* Typography declarations */
    font-size: 10rem;
    /* Layout declarations */
    padding: 0;
    margin: 0 0 1em;
  }
  
  /* BODY */
  /* General styling for the three sections of the body */
  section {
    /* Layout declarations */
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
  }
  
  /* Gradient that runs through the body */
  .gradient {
    padding: 10em;
    /* can be treated like a fallback */
    background-color: #000000;;
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(#000000, #262626);
  }
  
  /* The h2 tags are the main categories */
  h2 {
    /* Typography declarations */
    font-size: 4em;
  }
  
  /* The h3 tags are the additional questions */
  h3 {
    /* Typography declarations */
    font-style: italic;
    font-size: 2.5em;
  }
  
  /* The p tags that are descendants of the section tags are the answers */
  section p {
    /* Typography declarations */
    font-size: 2em;
    line-height: 1.3em;
  }
  
  /* This class is included in the last p tag of each section to create more space */
  .space-maker {
    /* Layout declarations */
    margin-bottom: 3em;
  }
  
  /* FOOTER */
  .content-footer {
    /* Layout declarations */
    background: #000000;
    padding: 10em;
    border-bottom: 8px solid #EDEDED;
  }
  
  .content-footer > p {
    /* Layout declarations */
    line-height: 1.3em;
    text-align: center;
    /* Typography declarations */
    font-size: 2em;
  }
  
  .social {
    /* Layout declarations */
    text-align: center;
    padding: 0;
  }
  
  .social > li {
    /* Layout declarations */
    display: inline-block;
    line-height: 1.3em;
    margin-right: 2em;
    /* Typography declarations */
    font-size: 2em;
    width: 38px;
  }
  
  a {
    /* Typography declarations */
    color: #EDEDED;
    text-decoration: none;
  }
  
  a:hover {
    /* Layout declarations */
    color: #262626;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .social li:last-child {
    /* Layout declarations */
    margin-right: 0;
  }
  
  /* Responsive design */
  @media only screen and (max-width: 500px) {
    /* HEADER */
    .masthead {
      padding: 1em;
    }
    
    .masthead-intro {
      font-size: 1.5rem;
    }
    
    .masthead-heading {
      font-size: 4rem;
    }
    
    /* BODY */
    .gradient {
      padding: 5em;
    }
    
    h2 {
      font-size: 2rem;
    }
    
    h3 {
      font-size: 1.5rem;
    }
    
    section p {
      font-size: 1rem;
    }
    
    /* FOOTER */
    .content-footer {
      padding: 4em;
    }
    
    .social > li {
    /* Layout declarations */
    display: block;
    width: 35px;
    margin-right: 0;
    }
    
    a {
      line-height: 3em;
    }
    
    .content-footer p a {
      line-height: 0;
    } 
  }
  
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook-f:before,
  .fa-facebook:before {
      font-size: 35px;
    color: rgb(63, 94, 197);
  }
  .fa-twitter-f:before,
  .fa-twitter:before {
      font-size: 35px;
    color: rgb(255, 255, 255);
  }