.glyphicon { margin-right:5px; }
body{
    background-color: #2a2b3d;
}

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    margin: auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.well {
    min-height: 20
px
;
    padding: 19
px
;
    margin-bottom: 20
px
;
    background-color: #000000;
    border: none;
    color: wheat;
    border-radius: 4
px
;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

.heading{
   text-align: center;
   display: flex;
   margin: auto;
   height: 500px;
   width: 100%;
    background-image: url('../../static/shop/data/img/pexels-anna-nekrashevich-6801874.jpg');
    background-position: center center;
    filter:grayscale(0.4);
    filter: opacity(0.8);
    filter: blur(0.8);
}
.heading{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.heading div{
    width: 50%;
}
.heading p{
    font-size: 15px;
}
.container{
    width: 100%;
}